/model/GLIC_1_0.002.pth.tar
/model/GLIC_2_0.0042.pth.tar
/model/GLIC_3_0.0075.pth.tar
/model/GLIC_4_0.015.pth.tar
/model/GLIC_5_0.03.pth.tar
/model/GLIC_6_0.045.pth.tar
/model/GLIC_7_0.07.pth.tar
/model/GLIC_8_0.09.pth.tar
/dataset_val/CLIC 2020 professional 250/
/dataset_val/Kodak/
.idea/