.idea
__pycache__
model/*
dataset_val/CLIC 2020 professional/*
dataset_val/Kodak/*
checkpoint/*
dataset_train/test/*
dataset_train/train/*
outputImages/*
dataset_val/CLIC
dataset_val/outputImages
dataset_val/picture
dataset_val/valid