# 不忽略这些文件夹
!/dataset_train/test/
!/dataset_train/train/
!/checkpoint/
!/dataset_val/CLIC 2020 professional/
!/dataset_val/Kodak/
!/model/
!/outputImages/

.idea
__pycache__/
model/*
checkpoint/*
outputImages/*
dataset_train/test/*
dataset_train/train/*
dataset_val/CLIC 2020 professional/*
dataset_val/Kodak/*
